.alert {
  position: relative;
  margin-top: 10px;
}

.alert-warning {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
}
.btn-outline-success, .btn-outline-danger {
  transition: background-color 0.3s, color 0.3s;
}

.card {
  border-radius: 10px; /* Coins arrondis */
}

.btn {
  transition: background-color 0.3s, color 0.3s;
}

.btn-outline-success, .btn-outline-danger {
  border-radius: 50px; /* Coins arrondis */
}

.btn-outline-success:hover, .btn-outline-danger:hover {
  background-color: #28a745; /* Couleur pour le bouton de confirmation */
  color: white;
}

.btn-outline-danger:hover {
  background-color: #dc3545; /* Couleur pour le bouton d'annulation */
  color: white;
}

/* Animation fade-in pour les alertes */
.fade-in {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Ombre pour la carte */
.shadow-sm {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
