<div class="container mt-5">
 
     
    

    

    <!-- Alertes -->
    <div *ngIf="alertService.alertMessage" class="alert alert-warning alert-dismissible fade show mt-4">
      {{ alertService.alertMessage }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div *ngIf="alertMessage" class="alert alert-warning alert-dismissible fade show mt-4">
      {{ alertMessage }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>  
   <app-cart></app-cart>
</div>
