<div class="container mt-4">
  <div class="row">
    <!-- Sidebar pour les filtres -->
    <div class="col-md-3">
      <div class="filter-sidebar">
        <!-- Filtres par prix -->
        <div class="form-check mb-3">
          <input 
            type="checkbox" 
            id="less-than-3m" 
            class="form-check-input" 
            (change)="onPriceFilterChange($event)" 
          />
          <label class="form-check-label" for="less-than-3m">Moins de 3 millions</label>
        </div>
        <div class="form-check mb-3">
          <input 
            type="checkbox" 
            id="less-than-4m" 
            class="form-check-input" 
            (change)="onPriceFilterChange($event)" 
          />
          <label class="form-check-label" for="less-than-4m">Moins de 4 millions</label>
        </div>
        <div class="form-check mb-3">
          <input 
            type="checkbox" 
            id="less-than-5m" 
            class="form-check-input" 
            (change)="onPriceFilterChange($event)" 
          />
          <label class="form-check-label" for="less-than-5m">Moins de 5 millions</label>
        </div>

        <!-- Filtres de marques -->
        <div class="dropdown-container mb-3">
          <div class="dropdown-header" (click)="toggleDropdown()">
            <span>Marques</span>
            <i class="arrow" [class.open]="dropdownOpen"></i>
          </div>
          <div *ngIf="dropdownOpen" class="dropdown-list">
            <div *ngFor="let category of categories" class="form-check">
              <input 
                type="checkbox" 
                [value]="category" 
                (change)="onCategoryChange($event)" 
                [checked]="selectedCategories.includes(category)" 
                class="form-check-input"
                id="{{category}}"
              />
              <label class="form-check-label" for="{{category}}">{{ category }}</label>
            </div>
          </div>
        </div>

        <!-- Slider pour la plage de prix -->
        <div class="price-filter mb-3">
          <label for="priceRange" class="form-label">Plage de Prix</label>
          <div class="d-flex align-items-center mb-2">
            <input 
              type="range" 
              min="0" 
              max="1000" 
              [value]="minPrice" 
              (input)="onMinPriceChange($event)" 
              class="form-range me-2" 
              style="flex: 1;"
            />
            <input 
              type="range" 
              min="0" 
              max="1000" 
              [value]="maxPrice" 
              (input)="onMaxPriceChange($event)" 
              class="form-range" 
              style="flex: 1;"
            />
          </div>
          <div class="d-flex justify-content-between">
            <input 
              type="number" 
              [(ngModel)]="minPrice" 
              (ngModelChange)="updateProgressBar()" 
              placeholder="Min" 
              class="form-control form-control-sm" 
              style="width: 48%;" 
            />
            <input 
              type="number" 
              [(ngModel)]="maxPrice" 
              (ngModelChange)="updateProgressBar()" 
              placeholder="Max" 
              class="form-control form-control-sm" 
              style="width: 48%;" 
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Liste des produits -->
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4 col-sm-6 mb-4" *ngFor="let product of filteredProducts">
          <div class="card product-card" (click)="goToProductDetail(product)">
            <img [src]="product.image" alt="{{ product.name }}" class="card-img-top product-image">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">Prix : {{ product.price }} DZ</p>
              <p class="card-text">{{ product.description }}</p>
              <button class="btn btn-primary" (click)="addToCart(product, $event)">
                <fa-icon [icon]="faCartPlus"></fa-icon>
                Ajouter au panier
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-cart></app-cart>
</div>
