<div class="container mt-5">
  <div class="row">
    <!-- Colonne gauche : Formulaire d'informations de livraison -->
    <div class="col-md-6">
      <h4>Informations de Livraison</h4>
      <form (ngSubmit)="onSubmit()" #deliveryForm="ngForm">
        <!-- Nom et Téléphone sur une ligne -->
        <div class="container">
          <div class="form-row">
            <!-- Nom et Téléphone sur la même ligne -->
            <div class="form-group col-md-6">
              <label for="name">Nom</label>
              <input type="text" id="name" class="form-control" name="name" [(ngModel)]="deliveryInfos.name" required />
            </div>
        
            <div class="form-group col-md-6">
              <label for="phone">Téléphone</label>
              <input type="tel" id="phone" class="form-control" name="phone" [(ngModel)]="deliveryInfos.phone" required />
            </div>
          </div>
        </div>
        
        

        <!-- Wilaya et Commune sur une ligne -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="wilaya">Wilaya</label>
            <select id="wilaya" class="form-control" name="wilaya" [(ngModel)]="deliveryInfos.wilaya" (change)="onWilayaChange($event)" required>
              <option value="">Sélectionner une wilaya</option>
              <option *ngFor="let wilaya of wilayas" [value]="wilaya.name">{{ wilaya.name }}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="commune">Commune</label>
            <select id="commune" class="form-control" name="commune" [(ngModel)]="deliveryInfos.commune" [disabled]="selectedCommunes.length === 0" required>
              <option value="">Sélectionner une commune</option>
              <option *ngFor="let commune of selectedCommunes" [value]="commune">{{ commune }}</option>
            </select>
          </div>
        </div>

        <!-- Adresse -->
        <div class="form-group">
          <label for="address">Adresse</label>
          <input type="text" id="address" class="form-control" name="address" [(ngModel)]="deliveryInfos.address" required />
        </div>
      </form>
    </div>

    <!-- Colonne droite : Résumé d'Achat -->
    <div class="col-md-6">
      <h2>Résumé de l'Achat</h2>
      <div class="summary">
        <ul class="list-group mb-3">
          <li *ngFor="let product of items" class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">nom</h6>
              <small class="text-muted">Quantité : {{ product.quantity }}</small>
            </div>
            <span class="text-muted"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (DZD)</span>
            <strong>{{ total | currency:'DZD':'symbol':'1.0-0' }}</strong>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Frais de livraison (DZD)</span>
            <strong>{{ deliveryFee | currency:'DZD':'symbol':'1.0-0' }}</strong>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total à payer (DZD)</span>
            <strong>{{ (total + deliveryFee) | currency:'DZD':'symbol':'1.0-0' }}</strong>
          </li>
        </ul>
      </div>
    </div>


    <h4>Choisissez votre mode de paiement</h4>
    <div class="form-group">
      
      <label>
        <input type="radio" name="paymentMode" value="cash" [(ngModel)]="paymentMode" (change)="setPaymentMode('cash')" />
        Paiement à la livraison
      </label>
      <label>
        <input type="radio" name="paymentMode" value="card" [(ngModel)]="paymentMode"  (change)="setPaymentMode('card')" />
        Paiement par carte
      </label>
    </div>

   
    <div *ngIf="paymentMode === 'cash'">
      <button type="button" class="btn btn-success" (click)="confirmPayment()">Confirmer et valider</button>
    </div>
    
    <div *ngIf="paymentMode === 'card'">
      <button type="button" class="btn btn-success" (click)="confirmPayment()">paiement on line Dahabia</button>
    </div>
-

  
</div>
